.travel-details-page {
    position: relative;
    background-image: url('https://res.cloudinary.com/dv7nx2bxb/image/upload/v1719590337/travel-next/df1jn4bin8icljg8qzii.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}