.activity-details-page {
    position: relative;
    margin-top: 60px;
    height: calc(100vh - 60px);
    background-image: url('https://res.cloudinary.com/dv7nx2bxb/image/upload/v1719586575/travel-next/mdzbbqkdfwfeex30vzee.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}