.create-travel {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 40rem;
}
/* 
.input {
    text-align: left;
    text-size-adjust: 3rem;
}

.dropzone p {
    margin: 0;
    font-size: 16px;
    color: #6c757d;
}

.image-preview {
    position: relative;
    display: flex;
}

.image-preview img {
    object-fit: cover;
}

.image-preview button {
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
} */
