.create-travel-page {
    position: relative;
    margin-top: 60px;
    height: calc(100vh - 60px);
    background-image: url('https://res.cloudinary.com/dv7nx2bxb/image/upload/v1718131825/travel-next/wkrmm34f8m6kv1u5k6nw.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.create-travel-form{
    position: absolute;
    top: 4rem;
    left: 50%;
    transform: translateX(-50%);
}