.HomePage {
    position: relative;
  }
  
.background {
  width: 100%;
  height: auto;
}
  
.search-container {
  position: absolute;
  top: 20rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  justify-content: center;
}