.activity-details {
    display: flex;
    justify-content: center;
}

.activity-details-card {
    width: 90%;
    max-width: 1200px;
    border: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.title {
    padding-bottom: 1.5rem;
}

.carousel {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card-text{
    text-align: left;
}
